.navbar .container,
.navbar-collapse {
    padding-top:20px; */
    padding-left:150px; */
    padding-right:100px;
  }


  h1,
  .navbar .container,
  .navbar-collapse  {
    font-family: 'Arial', serif;
  }

  /* change the background color */
  .navbar .container,
  .navbar-collapse {
      background-color: #171A22;
  }

  .navbar .container .nav-item {
      color: gray;
  }
